#driverIcon, #factoryIcon, #waybillIcon, #fishTypeIcon, #binIcon{
    -fx-background-size: 80px 70px;
    -fx-background-repeat: no-repeat;
}

#driverIcon {
    -fx-background-image: url("images/client/driver_icon.png");
}
#factoryIcon{
    -fx-background-image: url("images/client/factory_icon.png");
}
#waybillIcon{
    -fx-background-image: url("images/client/waybill_icon.png");
}
#fishTypeIcon{
    -fx-background-image: url("images/client/fish_icon.png");
}

#binIcon{
    -fx-background-image: url("images/client/binIcon.png");
}

.bodybg {
    -fx-background-image: url("images/client/seaNamLogo.png");
    -fx-background-size: 50% 50%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#scale {
    -fx-background-image: url("images/client/digital_scale.png");
    -fx-background-size: 110px 60px;
}
#pit_1,  #pit_2, #pit_3, #pit_4, #scale{
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-background-position: center 8px;
    -fx-focus-traversable: true;
}

#pit_1,  #pit_2, #pit_3, #pit_4 {
    -fx-background-image: url("images/client/pit_icon.png");
    -fx-background-size: 110px 100px;
}

.button:hover{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-cursor: hand;
}

#iDcode, #waybillNo, #factoryName,#noOfBins, #fishType{
    -fx-opacity: 0.6;
    -fx-prompt-text-fill: #acb0ac;
    -fx-text-fill: #1c1a1a;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

#historyBtn{
    -fx-background-image: url("images/client/binIcon.png");
    -fx-background-size: 70px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

#autoWeight, #manualWeight{
    -fx-font-weight: bold;
    -fx-font-size: 24px;

}

#autoWeight{
    -fx-background-color: #47a947;
    -fx-background-size: 50px 40px;
    -fx-background-radius: 10px 0px 0px 10px;
}

#manualWeight{
    -fx-background-color: #ef2f2f;
    -fx-background-size: 100px 40px;
    -fx-background-radius: 0px 10px 10px 0px;
}




